head
  script(src='/javascript/comedians.js')
  link(rel='stylesheet' href='/css/admin.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We' crossorigin='anonymous')
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")
  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js' integrity='sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh' crossorigin='anonymous')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js' integrity='sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ' crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')

  
  //Favicons
  link(href='/assets/img/favicon.png' rel='icon')
  link(href='/assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='/assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')

  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  
  link(href='/assets/css/style.css' rel='stylesheet')

  style. 
    .user-img{
    height: 100px;
    width: 100px;
    } 

    .breadcrumbs {
    margin-top: 0px;
    text-align: center;
    background-color: darkorange;
    padding: 30px 0;
    color: #fff;
    }
  
// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href='/') UGAAMUX
    // Uncomment below if you prefer to use an image logo
    // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a(href='/admin/artists') Artists
        li  
          a(href='/admin/bands') Bands
        li
          a.active(href='/admin/comedians') Comedians

      i.bi.bi-list.mobile-nav-toggle
    // .navbar
    a.account-btn(href='/users/logout') Log out
// End Header 
 
#add_artist.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content
      .modal-header 
        h5#exampleModalLabel.modal-title
          | Register Comedian 
        button.btn-close(type='button' data-dismiss='modal' aria-label='Close')
      .modal-body

        form(method='post' action='/comedians/register' enctype='multipart/form-data' style='max-width: 600px; margin: auto' name='registration' onsubmit='return validate()')
            include partials/messages.pug
            
            //- .breadcrumbs(data-aos='fade-in')
            //-     .container
            //-         h2 Register Comedian
            if user.success == true
        
                .alert.alert-success.d-flex.align-items-center(role='alert')
                svg.bi.flex-shrink-0.me-2(width='24' height='24' role='img' aria-label='Success:')
                    use(xlink:href='#check-circle-fill')
                div 
                    | Comedian successfully created. 
            else if user.success == false  
                
                .alert.alert-warning.d-flex.align-items-center(role='alert')
                svg.bi.flex-shrink-0.me-2(width='24' height='24' role='img' aria-label='Warning:')
                use(xlink:href='#exclamation-triangle-fill')
                div
                | #{user.msg} 
            label(for='start') Real name:
            .input-icons
                i.fa.fa-user.icon  
                input.input-field(name='username' type='text' placeholder='Odeke Trevor Angulo')
                small#name-error(style='display: none;')
            label(for='start') Stage name:
            .input-icons
                i.fa.fa-user.icon  
                input.input-field(name='stagename' type='text' placeholder='Uncle Mo')
                small#stagename-error(style='display: none;')
            label(for='start') Email:
            .input-icons
                i.fa.fa-at.icon
                input.input-field(name='email' type='text' placeholder='peter@gmail.com')
                small#email-error(style='display: none;')
            .row
                .col-6
                    label(for='start') Date started:
                    input#start.input-field(type='date' name='startdate' max='2021-11-18')
                    small#startdate-error(style='display: none;')
                .col-6
                    label(for='nin') Area based:
                    .input-icons
                        i.fa.fa-compass.icon
                        input#area.input-field(name='area' type='text' placeholder='Kampala')
                        small#area-error(style='display: none;')
            .row
                .col-6
                    // <p>Date of birth</p>
                    label(for='start') Date of birth:
                    input#start.input-field(type='date' name='dob' max='2000-01-01')
                    small#dob-error(style='display: none;')
                .col-6.user_gender
                    // <p>Gender</p>
                    label(for='') Gender :
                    br 
                    // <button name="male" class="gender" value="male">
                    // <input type="button" name="male" class="gender" value="Male" onclick="gender_male()"/>
                    input#male(type='radio' name='gender' value='male')
                    label(for='male') Male
                    // <input type="button" name="female" class="gender" value="Female" onclick="gender_female()"/>
                    input#female(type='radio' name='gender' value='female')
                    label(for='female') Female
                    small#gender-error(style='display: none;')
            .row
                .col-6 
                    label(for='nin') NIN:
                    .input-icons
                        i.fa.fa-id-card.icon
                        input#nin.input-field(name='nin' type='text' placeholder='SD345345TYR')
                        small#nin-error(style='display: none;')
                .col-6
                    label(for='location') Location:
                    .input-icons
                        i.fa.fa-location-arrow.icon
                        input#location.input-field(name='location' type='text' placeholder='Kampala')
                        small#location-error(style='display: none;')
            .row
                .col-6
                    label(for='album') Comedian ID:
                    .input-icons 
                        i.fa.fa-id-badge.icon
                        input#artist_id.input-field(name='comedianid' type='text' placeholder='ozy12mux')
                        small#comedianid-error(style='display: none;')

                .col-6
                    label(for='album') Contact:
                    .input-icons
                        i.fa.fa-phone.icon  
                        input#contact.input-field(name='contact' type='number' placeholder='Contact')
                        small#contact-error(style='display: none;')
            .row
                .col-6
                    label(for='album') Comdeian image:
                        .input-icons 
                        input#profile_pic.input-field(type='file' name='image' accept='.jpg, .jpeg, .png')
                        small#image-error(style='display: none;') 
                .col-6
                    label(for='nin') Profile:
                    .input-icons
                        i.fa.fa-user-circle.icon
                        textarea#profile.input-field(name='profile' cols='23' rows='8')
                        small#profile-error(style='display: none;')
            
            .row.pt-3.pb-2
                .col-6
                    button.btn.btn.btn-block.col-12.submit(type='submit' name='submitbtn' style=' background-color: darkorange; color: white;') Submit
                .col-6
                    button.btn.btn.btn-block.col-12.reset(type='reset' name='reset' style=' background-color: red; color: white;') Reset
            


.container.d-flex.pt-5.mt-5.justify-content-center.breadcrumbs
    b COMEDIANS
form.d-flex.search-artist.container.pt-3
  input.form-control.me-2(type='search' placeholder='Search comedian' aria-label='Search' name='username')
  button.btn.btn-outline-success(type='submit')
    | Search 
.container
    button.btn.btn-lg.mt-3(type='button' data-toggle='modal' data-target='#add_artist' style=' background-color: darkorange; color: white;') Add comedian +
include partials/messages.pug
table.table.table-hover.container
  thead 
    tr 
      th(scope='col') #
      th(scope='col') Image
      th(scope='col') Name
      th(scope='col') Email 
      th(scope='col') Location
      th(scope='col') Area
      th(scope='col') Actions
  - var n = 0; 
  each val in user  
    -n++
    //- #delete_artist.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal.fade(id='delete_band'+val._id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog 
            .modal-content 
                .modal-header 
                    h5#exampleModalLabel.modal-title Delete Comedian
                    button.btn-close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    p Do you really want to delete this comedian ?
                    .modal-footer 
                        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
                        a.btn.btn-danger(href='/comedians/delete/'+val._id type='button') Delete comedian  
    
    .modal.fade(id='view_band'+val._id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title View Comedian
                    button.btn-close(type='button' data-dismiss='modal' aria-label='Close')
                .modal-body
                    .row
                        img.rounded.float-start(src=val.img alt='image' style='height: 250px; width: 250px;')
                    .row
                        .form-group.col-md-6
                            label(for='fname')  
                            b Comedian name
                            p #{val.username}
                        .form-group.col-6
                            label(for='lname') 
                            b Area
                            p #{val.area}
                    .row
                        .form-group.col-md-6
                            label(for='name') 
                            b Contact
                            p #{val.contact}
                        .form-group.col-6
                            label(for='user_name') 
                            b Location
                            p #{val.location}
                    .row
                        .form-group.col-md-6
                            label(for='profile') 
                            b Gender
                            p #{val.gender}
                        .form-group.col-md-6
                            label(for='dob') 
                            b DOB
                            p #{moment(val.dob).format('DD/MM/YYYY')} 
                            
                    .row  
                        .form-group.col-md-6
                            label(for='password') 
                            b Area based
                            p Soroti
                        .form-group.col-md-6
                            label(for='password') 
                            b Date started
                            p #{moment(val.datestarte).format('DD/MM/YYYY')}
                    .row 
                        .form-group.col-md-6 
                            label(for='profile') 
                            b Profile
                            p #{val.profile}

                .modal-footer  
                    button.btn.btn-secondary(type='button' data-dismiss='modal') Close

    //- #edit_artist.modal.fade(role='document')
    .modal.fade(id='edit_band'+val._id tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true' role='document')
        .modal-dialog.modal-lg
            .modal-content 
                .modal-header
                    h4.modal-title Edit Comedian
                .modal-body
                    form.artist-form(method='post' action='/comedians/admin-update/'+val._id style='max-width: 600px; margin: auto' name='updateform')

                        .row   
                            img.rounded.mx-auto.d-block.upd-img(src=val.img alt='image' style='height: 300px; width: 250px;')
                            label(for='start') Comedian name:
                            p#name-error(style='display: none;')
                            .input-icons
                                i.fa.fa-user.icon  
                                input.input-field(name='username' type='text' placeholder='Afrigo Band' value=val.username)
                            label(for='profile') Bio:
                            p#profile-error(style='display: none;')
                            .input-icons
                                i.fa.fa-user-circle.icon
                                textarea#profile.input-field(name='profile' cols='23' rows='8') #{val.profile}
                        
                        .row.pt-3.pb-2
                            .col-6
                                button.btn.btn.btn-block.col-12.submit(type='submit' name='submitbtn' style=' background-color: darkorange; color: white;') Submit
                            .col-6
                                button.btn.btn.btn-block.col-12.reset(type='reset' name='reset' style=' background-color: red; color: white;') Reset
     
    tbody
        tr
        th(scope='row')=n
        td
            img.user-img(src=val.img alt='')
        td #{val.stagename}
        td #{val.email} 
        td #{val.location}
        td #{val.area} 
        td 
            button.btn.btn.action_btn(type='button' data-toggle='modal' data-target='#view_band'+ val._id style=' background-color: #1a494d; color: white;') View
            button.btn.btn.action_btn(type='button' data-toggle='modal' data-target='#edit_band' + val._id style=' background-color: #df9d10; color: white;') Edit
            button.btn.btn-danger.action_btn(type='button' data-toggle='modal' data-target='#delete_band'+ val._id) Delete
 
