doctype html
head
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='/javascript/artists.js')
  link(rel='stylesheet' href='/css/artist-admin.css')
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  // JavaScript Bundle with Popper
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
.bgimage
  .layer
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.nav
      .container-fluid
        a.navbar-brand(href='index.html') UGAAMAX
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.navinfo
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            //
              <li class="nav-item">
              <a
              class="nav-link active"
              aria-current="page"
              href="#"
              >Home</a
              >
              </li>
            li.nav-item
              a.nav-link(href='artists.html') Artists
            li.nav-item
              a.nav-link(href='admin-comedian.html') Comedians
            li.nav-item
              a.nav-link(href='admin-band.html') Bands
            li.nav-item
              a.nav-link(href='contact.html') Contact Us
            li.nav-item
              a.nav-link(href='about.html') About Us
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle.btn.btn-outline-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Account
              ul.dropdown-menu(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='/users/logout') Logout
          //
            <form class="d-flex">
            <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
            Search
            </button> 
            </form>

.main 
  form.artist-form(method='post' action='/register/artists' enctype='multipart/form-data' style='max-width: 600px; margin: auto' name='registration' onsubmit='return validate()')
    include partials/messages.pug
    h2(style='color: black;') REGISTER ARTIST
    
    if user.success == true
  
     .alert.alert-success.d-flex.align-items-center(role='alert')
      svg.bi.flex-shrink-0.me-2(width='24' height='24' role='img' aria-label='Success:')
       use(xlink:href='#check-circle-fill')
      div
       | User successfully created.
    else if user.success == false 
         
     .alert.alert-warning.d-flex.align-items-center(role='alert')
      svg.bi.flex-shrink-0.me-2(width='24' height='24' role='img' aria-label='Warning:')
       use(xlink:href='#exclamation-triangle-fill')
      div
       | #{user.msg}
    label(for='start') Real name:
    p#name-error(style='display: none;')
    .input-icons
      i.fa.fa-user.icon  
      input.input-field(name='username' type='text' placeholder='Odeke Trevor Angulo')
    label(for='start') Stage name:
    p#stage-error(style='display: none;')
    .input-icons
      i.fa.fa-music.icon
      input.input-field(name='stagename' type='text' placeholder='TOdeke')
    label(for='start') Email:
    p#email-error(style='display: none;')
    .input-icons
      i.fa.fa-solid.fa-at.icon 
      input.input-field(name='email' type='text' placeholder='odeke@gmail.com')
    .row
      .col-6
        label(for='start') Date started:
        p#startdate-error(style='display: none;')
        input#start.input-field(type='date' name='startdate' value='2018-07-22' min='2018-01-01' max='2018-12-31')
      .col-6
        label(for='nin') Area based:
        p#area-error(style='display: none;')
        .input-icons
          i.fa.fa-compass.icon
          input#area.input-field(name='area' type='text' placeholder='Kampala')
    .row
      .col-6
        // <p>Date of birth</p>
        label(for='start') DOB:
        p#dob-error(style='display: none;')
        input#start.input-field(type='date' name='dob' value='2000-01-01' max='2000-01-01')
      .col-6.user_gender
        // <p>Gender</p>
        label(for='album') Artist ID:
        p#artistid-error(style='display: none;')
        .input-icons
          i.fa.fa-id-badge.icon
          input#artist_id.input-field(name='artistid' type='text' placeholder='Artist ID')
    .row
      .col-6
        label(for='nin') NIN:
        p#nin-error(style='display: none;')
        .input-icons
          i.fa.fa-id-card.icon
          input#nin.input-field(name='nin' type='text' placeholder='NIN')
      .col-6
        label(for='location') Location:
        p#location-error(style='display: none;')
        .input-icons
          i.fa.fa-location-arrow.icon
          input#location.input-field(name='location' type='text' placeholder='Kampala')
    .row
      .col-6
        label(for='album') Number of albums:
        p#albums-error(style='display: none;')
        .input-icons
          i.fa.fa-id-badge.icon
          input#album.input-field(name='albums' type='number' placeholder='Number of albums')
      .col-6
        label(for='album') Contact:
        p#contact-error(style='display: none;')
        .input-icons
          i.fa.fa-phone.icon  
          input#contact.input-field(name='contact' type='number' placeholder='Contact')
    .row
      .col-6
        label(for='album') Artist ID:
        p#artistid-error(style='display: none;')
        .input-icons
          i.fa.fa-id-badge.icon
          input#artist_id.input-field(name='artistid' type='text' placeholder='Artist ID')
      
      .col-6
        label(for='album') Artist image:
        p#icon-error(style='display: none;')
        .input-icons
          input#profile_pic.input-field(type='file' name='image' accept='.jpg, .jpeg, .png')
    .row 
        label(for='nin') Profile:
        p#profile-error(style='display: none;')
        .input-icons
          i.fa.fa-user-circle.icon
          textarea#profile.input-field(name='profile' cols='23' rows='8')
    button.submit(type='submit' name='submitbtn') Submit
    //
      <input
      class="submit"
      type="button"
      name="submitbtn"
      onclick="validate()"
      />
    button.reset(type='reset' name='reset')
      | Reset
