doctype html
head
  style(type='text/css').
    .main-body {
    padding: 15px;
    }
    .profile {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    }
    .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    }
    .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    }
    .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
    }
    .gutters-sm > .col,
    .gutters-sm > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
    }
    .mb-3,
    .my-3 {
    margin-bottom: 1rem !important;
    }
    .bg-gray-300 {
    background-color: #e2e8f0;
    }
    .h-100 {
    height: 100% !important;
    }
    .shadow-none {
    box-shadow: none !important;
    }
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  // JavaScript Bundle with Popper
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
  script(src='/javascript/password.js')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')

  //Favicons
  link(href='/assets/img/favicon.png' rel='icon')
  link(href='/assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='/assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')

  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  
  
  
  link(href='/assets/css/style.css' rel='stylesheet')
  title Document

// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href='index.html') UGAAMUX
    // Uncomment below if you prefer to use an image logo
    // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li
          a(href='/admin') Home
        li
          a(href='/admin') Artists
        li  
          a(href='/admin/bands') Bands
        li
          a(href='/admin/comedians') Comedians

      i.bi.bi-list.mobile-nav-toggle
    // .navbar
    a.account-btn(href='/users/logout') Log out
// End Header 

#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title
          | Update details 
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form.row.g-3(method='POST' name='updateband' action='/bands/update/'+user._id onsubmit="return checkBand()") 
          .col-md-6 
            label.form-label(for='inputEmail4') Bandname
            input#inputEmail4.form-control(name='bandname' type='text' value=user.bandname)
            small#bandname-error(style='display: none') 
          .col-md-6
            label.form-label(for='inputPassword4') No. of members
            input#inputNumber4.form-control(name='members' type='number' value=user.members) 
            small#members-error(style='display: none') 
          .col-12
            button.btn.btn-primary(type='submit')
              | Update
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
          | Close

#passwordModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header  
        h5#exampleModalLabel.modal-title
          | Change password
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form.row.g-3(name='passwordChange' method='post' onsubmit='return validate()' action='/users/password_update/'+user.email) 
          .col-md-6  
            label.form-label(for='inputEmail4') Enter password 
            input#inputPassword4.form-control(name='password1' type='password')
            p#password1-error(style='display: none') 
          .col-md-6
            label.form-label(for='inputPassword4') Re-enter password
            input#inputPassword3.form-control(name='password2' type='password') 
            p#password2-error(style='display: none')
          .col-12
            button.btn.btn-primary(type='submit' name="submitbtn")
              | Update
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
          | Close    
 

.profile.pt-5.mt-5
  include partials/messages.pug
  .row.gutters-sm
    .col-md-4.mb-3
      .card
        .card-body
          .d-flex.flex-column.align-items-center.text-center
            
            img.rounded-circle(src = user.bandimage '#{user.img}' width='150')
            .mt-3
              h4 #{user.username}
              p.text-secondary.mb-1(aria-placeholder='full names')
              .form-group
                 a.btn.btn-lg(href='/users/logout' type='button' style=' background-color: rgba(192, 61, 10, 0.938); color: white;')
                  | logout
  
    .col-md-8
      .card.mb-3
        .card-body
          .row
            .col-sm-3
              h6.mb-0 
                b Band Name:
            .col-sm-9.text-secondary
              | #{user.bandname}
          hr
          .row
            .col-sm-3
              h6.mb-0
                b Owner:
            .col-sm-9.text-secondary
              | #{user.owner}
          hr
          .row
            .col-sm-3
              h6.mb-0
                b Date started:
            .col-sm-9.text-secondary
              | #{moment(user.startdate).format('DD/MM/YYYY')} 
          hr 
          .row
            .col-sm-3
              h6.mb-0
                b Slogan:
            .col-sm-9.text-secondary
              | #{user.slogan}
          hr
          .row
            .col-sm-3
              h6.mb-0
                b Category:
            .col-sm-9.text-secondary
              | #{user.category}

            if user.sponsors
              hr
              .row
                  .col-sm-3
                  h6.mb-0
                      b Sponsors:
                  .col-sm-9.text-secondary
                  | #{user.sponsors}
          hr
          .row
            .col-sm-3
              h6.mb-0
                b Email:
            .col-sm-9.text-secondary
              | #{user.email}
          hr
          .row
            .col-sm-3
              h6.mb-0
                b Home:
            .col-sm-9.text-secondary
              | #{user.home}
          hr
          .row 
            .col-sm-3
              h6.mb-0
                b Number of members:
            .col-sm-9.text-secondary #{user.members}

          hr
          .row 
            .col-sm-3
              h6.mb-0
                b Bio:
            .col-sm-9.text-secondary #{user.profile}
          
          hr
          .container
            .row
              .d-grid.gap-2.col-3
                button.btn.btn.btn-block(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal' style=' background-color: darkorange; color: white;')
                  | Update
              .d-grid.gap-2.col-4
                button.btn.btn.btn-block(type='button' data-bs-toggle='modal' data-bs-target='#passwordModal' style=' background-color: #e8742e; color: white;')
                  | Change password
          br
          br
          br
