doctype html
head
  style(type='text/css').
    .main-body {
    padding: 15px;
    }
    .profile {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    }
    .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    }
    .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    }
    .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
    }
    .gutters-sm > .col,
    .gutters-sm > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
    }
    .mb-3,
    .my-3 {
    margin-bottom: 1rem !important;
    }
    .bg-gray-300 {
    background-color: #e2e8f0;
    }
    .h-100 {
    height: 100% !important;
    }
    .shadow-none {
    box-shadow: none !important;
    }
doctype html
head
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1.0' name='viewport')
  title Bands
  meta(content='' name='description')
  meta(content='' name='keywords')
  // Favicons
  link(href='/assets/img/favicon.png' rel='icon')
  link(href='/assets/img/apple-touch-icon.png' rel='apple-touch-icon')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i' rel='stylesheet')
  // Vendor CSS Files
  link(href='/assets/vendor/animate.css/animate.min.css' rel='stylesheet')
  link(href='/assets/vendor/aos/aos.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
  link(href='/assets/vendor/bootstrap-icons/bootstrap-icons.css' rel='stylesheet')
  link(href='/assets/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
  link(href='/assets/vendor/remixicon/remixicon.css' rel='stylesheet')
  link(href='/assets/vendor/swiper/swiper-bundle.min.css' rel='stylesheet')
  // Template Main CSS File
  link(href='/assets/css/style.css' rel='stylesheet')
  link(href='/css/profile.css' rel='stylesheet')
  //
    =======================================================
    * Template Name: Mentor - v4.6.0
    * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ========================================================
// ======= Header =======
header#header.fixed-top
  .container.d-flex.align-items-center
    h1.logo.me-auto
      a(href='index.html') UGAAMUX
    // Uncomment below if you prefer to use an image logo
    // <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    nav#navbar.navbar.order-last.order-lg-0
      ul
        li 
          a(href='/') Home
        li
          a(href='/artists') Solo Artists
        li   
          a(href='/bands') Bands
        li
          a.active(href='/comedians') Comedians
        li
          a(href='/contact') Contact
      i.bi.bi-list.mobile-nav-toggle
        // .navbar
    a.account-btn(href='/users/login') Account

      i.bi.bi-list.mobile-nav-toggle 
      i.bi.bi-list.mobile-nav-toggle
    // .navbar
    //- .dropdown
      //- a.account-btn(href='account.html') Account



 
main#main(data-aos='fade-in')

section#about.section.about-section.gray-bg
  .container
    .row.align-items-center.flex-row-reverse
      .col-lg-6
        .about-text.go-to 
          h3.dark-color | #{user.stagename}

          p
            | #{user.profile}
          .row.about-list
            .col-md-6
              .media
                label Location
                p #{user.location}

      .col-lg-6
        .about-avatar
          img(src=user.img title='' alt='' style=style="height: 400px; width: 400px")

// ======= Footer =======
footer#footer 
  .footer-top
    .container
      .row
        .col-lg-4.col-md-6.footer-contact
          h3 Ugaamux
          p
            | Bukoto Block 66 
            br
            |               Kampala
            br
            |               Uganda 
            br
            br
            strong Phone:
            |  +256 755895088
            br
            strong Email: 
            |  info@ugaamux.com
            br
        .col-lg-4.col-md-6.footer-links
          h4 Useful Links
          ul
            li
              i.bx.bx-chevron-right
              a(href='#') Home
            li
              i.bx.bx-chevron-right
              a(href='#') Solo Artists
            li
              i.bx.bx-chevron-right
              a(href='#') Bands
            li
              i.bx.bx-chevron-right
              a(href='#') Music Labels
            li
              i.bx.bx-chevron-right
              a(href='#') Contact us
        .col-lg-4.col-md-6.footer-newsletter
          h4 Join Our Newsletter
          p Want to receive updates from Ugaamux, Join our Newsletter
          form(action='' method='post')
            input(type='email' name='email')
            input(type='submit' value='Subscribe')
  .container.d-md-flex.py-4
    .me-md-auto.text-center.text-md-start
      .copyright
        | &copy; Copyright 
        strong
          span Ugaamux
        | . All Rights Reserved
      .credits
        | Designed by Odeke Trevor
    .social-links.text-center.text-md-right.pt-3.pt-md-0
      a.twitter(href='#')
        i.bx.bxl-twitter
      a.facebook(href='#')
        i.bx.bxl-facebook
      a.instagram(href='#')
        i.bx.bxl-instagram
      a.google-plus(href='#')
        i.bx.bxl-skype
      a.linkedin(href='#')
        i.bx.bxl-linkedin
// End Footer
#preloader
a.back-to-top.d-flex.align-items-center.justify-content-center(href='#')
  i.bi.bi-arrow-up-short
// Vendor JS Files
script(src='/assets/vendor/aos/aos.js')
script(src='/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='/assets/vendor/php-email-form/validate.js')
script(src='/assets/vendor/purecounter/purecounter.js')
script(src='/assets/vendor/swiper/swiper-bundle.min.js')
// Template Main JS File
script(src='/assets/js/main.js')