doctype html
head
  style(type='text/css').
    .main-body {
    padding: 15px;
    }
    .profile {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    }
    .card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
    }
    .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    }
    .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    }
    .gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
    }
    .gutters-sm > .col,
    .gutters-sm > [class*='col-'] {
    padding-right: 8px;
    padding-left: 8px;
    }
    .mb-3,
    .my-3 {
    margin-bottom: 1rem !important;
    }
    .bg-gray-300 {
    background-color: #e2e8f0;
    }
    .h-100 {
    height: 100% !important;
    }
    .shadow-none {
    box-shadow: none !important;
    }
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU' crossorigin='anonymous')
  // JavaScript Bundle with Popper
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js' integrity='sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ' crossorigin='anonymous')
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document

#exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title
          | Update details
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        form.row.g-3(method='POST' name='registration' action='/bands/update/'+user._id) 
          .col-md-6 
            label.form-label(for='inputEmail4') Bandname
            input#inputEmail4.form-control(name='bandname' type='text' value=user.bandname)
          .col-md-6
            label.form-label(for='inputPassword4') No. of members
            input#inputNumber4.form-control(name='members' type='number' value=user.members) 
          .col-12
            button.btn.btn-primary(type='submit')
              | Update
      .modal-footer
        button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
          | Close

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.nav
  .container-fluid
    a.navbar-brand(href='/')
      span.yellow
        b UGA
      span.red AMAX
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .info-nav
      #navbarSupportedContent.collapse.navbar-collapse.navinfo
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          //
            <li class="nav-item">
            <a
            class="nav-link active"
            aria-current="page"
            href="#"
            >Home</a
            >
            </li>
          li.nav-item
            a.nav-link(href='artists.html') Artists
          li.nav-item
            a.nav-link(href='comedian.html') Comedians
          li.nav-item
            a.nav-link(href='band.html') Bands
          li.nav-item
            a.nav-link(href='contact.html') Contact Us
          li.nav-item
            a.nav-link(href='about.html') About Us
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle.btn.btn-outline-secondary(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Account
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='/users/logout') Logout
        //
          <form class="d-flex">
          <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">
          Search
          </button>
          </form>
include partials/messages.pug
.profile
  .row.gutters-sm
    .col-md-4.mb-3
      .card
        .card-body
          .d-flex.flex-column.align-items-center.text-center
            
            img.rounded-circle(src = user.img '#{user.img}' width='150')
            .mt-3
              h4 #{user.username}
              p.text-secondary.mb-1(aria-placeholder='full names')
              .form-group
                 a.btn.btn-primary(href='/users/logout' type='button')
                  | logout
  
    .col-md-8
      .card.mb-3
        .card-body
          .row
            .col-sm-3
              h6.mb-0 
                b Email:
            .col-sm-9.text-secondary
              | #{user.email}
          hr
          .row
            .col-sm-3
              h6.mb-0
                b Gender:
            .col-sm-9.text-secondary
              | #{user.gender}
          hr
          .row
            .col-sm-3
              h6.mb-0
                b Date started:
            .col-sm-9.text-secondary
              | #{user.startdate}
          hr 
          .row
            .col-sm-3
              h6.mb-0
                b Profile:
            .col-sm-9.text-secondary
              | #{user.profile}
          hr

          .row
            .col-sm-3
              h6.mb-0
                b Area:
            .col-sm-9.text-secondary
              | #{user.area}
          hr

          .row
            .col-sm-3
              h6.mb-0
                b ID:
            .col-sm-9.text-secondary
              | #{user.comedianid}
          hr
           
          .row
            .d-grid.gap-2.col-3.mx-auto
              button.btn.btn-primary.btn-lg.btn-block(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
                | Update
          br
          br
          br
