extends layout 
block content
  main#main(data-aos='fade-in')
    // ======= Breadcrumbs =======
    .breadcrumbs
      .container 
        h2 Artists 
    // End Breadcrumbs
  section#about.section.about-section.gray-bg
    .container
      .row.align-items-center.flex-row-reverse
        .col-lg-6
          .about-text.go-to 
            h3.dark-color #{user.stagename}

            p
              | #{user.profile}
            .row.about-list
              .col-md-6
                .media
                  label Albums
                  p #{user.albums}

              .col-md-6
                .media
                  label Location
                  p #{user.location}

        .col-lg-6
          .about-avatar
            img(src=user.img title='' alt='' style="height: 400px")



  
